---
import type { IFrontmatter } from 'astro-boilerplate-components';

import { CTA } from '@/partials/CTA';
import { Hero } from '@/partials/Hero';
import { ProjectList } from '@/partials/ProjectList';
import { RecentPosts } from '@/partials/RecentPosts';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

// import { testComp } from './netlify/functions/get_neo_db/get_neo_db';
// netlify/functions/get_neo_db/get_neo_db.js
const allPosts = await Astro.glob<IFrontmatter>('./posts/*.md');
const sortedPosts = sortByDate(allPosts);
const lastThreePosts = sortedPosts.slice(0, 3);

const { title } = AppConfig;
const { description } = AppConfig;

// const response = await fetch("http://localhost:4000/graphql'", {
//   method: 'POST',
//   headers: { 'Content-Type': 'application/json' },
//   body: JSON.stringify({
//     query: `
//               query {
//                 movies {
//                     title
//                     released
//                     tagline

//                 }
//           }
//         `,
//   }),
// });
// const response = await fetch("http://localhost:8888/.netlify/functions/get_neo_db").then(response => response.json());
// const json = await response.json();
// const payload = json.data;

// console.log(fetch ("http://localhost:8888/.netlify/functions/neo4j");
const response = await fetch(
  'https://magical-pasca-72892c.netlify.app/.netlify/functions/neo4j'
).then((res) => res.json());
console.log(response, 'hdey there');
const response2 = await fetch(
  'https://magical-pasca-72892c.netlify.app/.netlify/functions/neoserver'
).then((res) => res.json());
console.log(response, 'hdey there');
console.log(response2, '2nd  response there');
const getRespose3 = response2.message && 'hi there 3rd repsponse';
console.log(getRespose3);
---

<Base head={{ title, description }}>
  <Hero />
  hejy heyff
  <!-- {testComp()} -->
  <!-- <h1>Fdetching Weatvher at build time</h1>2 -->
  <!-- <h2>{payload.movies.title}</h2> -->
  <!-- <h2>{response.message}</h2> -->
  <!-- <p>Weather: {payload.movies[3].title} </p> -->
  <ProjectList />
  <!-- tester -->
  <RecentPosts postList={lastThreePosts} />
  {response.message}
  {response2.message}
  <div><h3 style="color:green">{response2.message}</h3></div
  <CTA />
</Base>
